@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido !!</h1>
    <p>MASCOTA FELIZ <a href="http://mascotafeliz.es/">Donde CONSENTIMOS a Tu MASCOTA</a>.</p>
</div>
